<mat-card>
    <h4>Your Profile Details</h4>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container text-center">
                <img src="https://www.pngarts.com/files/10/Default-Profile-Picture-PNG-Download-Image.png" alt="" class="profile-image">

                <h1 class="mt=20">{{user.firstName}} {{user.lastName}}</h1>


                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <table class="table text-center">
                            <tr>
                                <td>Username</td>
                                <td>{{user.username}}</td>
                            </tr>
                            <tr>
                                <td>Userid</td>
                                <td>{{user.id}}</td>
                            </tr>
                            <tr *ngif="user.phone">
                                <td>Phone</td>
                                <td>{{user.phone}}</td>
                            </tr>
                            <tr>
                                <td>Role</td>
                                <td>{{user.authorities[0].authority}}</td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td>{{user.enabled?"ACTIVE":"NOT ACTIVE"}}</td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
    <div class="container text-center">
        <button mat-raised-button type="submit" style="background-color: yellow; color: black;" class="register-button">UPDATE</button>
        <button mat-raised-button style="margin-left: 20px; background-color: orange; color: black;">SHARE</button>
    </div>
</mat-card>