<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <h1>Admin Panel - Exam Hub</h1>
                <p>Welcome to the Admin Panel. Here, you can efficiently manage quiz categories and quizzes to ensure a smooth experience for users. Take control of your content and make necessary updates as needed.</p>
                <h3>Admin Features:</h3>
                <ul>
                    <li>Add new quiz categories to expand the range of available topics.</li>
                    <li>Update existing quizzes to keep content fresh and relevant.</li>
                    <li>Delete quizzes that are outdated or no longer needed.</li>
                    <li>Monitor quiz performance and user engagement statistics.</li>
                    <li>Ensure all content adheres to quality standards.</li>
                </ul>

                <footer style="margin-top: 20px;">
                    <p>&copy; 2024 Amita Rajput</p>
                </footer>
            </div>
        </div>
    </div>
</div>