<div class="bootstrap-wrapper">
    <div class="container-fluid">
        <!-- Only show the heading if there are quizzes -->
        <h3 class="mt20" *ngIf="quizzes.length > 0">Available Quizzes</h3>

        <div class="quiz-container">
            <mat-card class="mt10" *ngFor="let q of quizzes">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{ q.title }}</mat-card-title>
                    <mat-card-subtitle>{{ q.category.title }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p class="truncate">
                        <strong>Description:</strong> {{ q.description || "No description available" }}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <div class="actions-container">
                        <button mat-stroked-button class="max-marks-button">
              Max Marks: {{ q.maxMarks }}
            </button>

                        <button mat-stroked-button class="questions-button">
              Questions: {{ q.numberOfQuestions }}
            </button>



                        <button mat-raised-button type="submit" class="attempts-button" [routerLink]="['/user-dashboard/instructions', q.qid]">
              Start
            </button>
                    </div>
                </mat-card-actions>
            </mat-card>

            <!-- Show a message when there are no quizzes in the category -->
            <div class="col-md-12" *ngIf="quizzes.length == 0">
                <mat-card>
                    <mat-card-content>
                        <h6>No Data in this category</h6>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>