<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <h1>Welcome to Exam Hub</h1>
                <p>In this portal, users can take exams across various categories to enhance their knowledge and skills. Whether you're preparing for academic tests, professional certifications, or personal growth, Exam Hub offers a comprehensive platform
                    to help you succeed.</p>
                <h3>Features:</h3>
                <ul>
                    <li>Wide range of categories including Science, Mathematics, Literature, and more.</li>
                    <li>User-friendly interface for easy navigation and exam-taking.</li>
                    <li>Instant results and detailed performance analytics.</li>
                    <li>Regularly updated question banks to ensure current and relevant content.</li>
                    <li>Secure and private access to all exam materials.</li>
                </ul>

                <footer style="margin-top: 20px;">
                    <p>&copy; 2024 Amita Rajput</p>
                </footer>
            </div>
        </div>
    </div>
</div>